/*图析*/
body.has-map{position: relative;}
.map_wrapper{background:#32343D;}
.map_wrapper .map_top{height: 60px;background:#383b44;}
.map_top .map_top_nav{width: 387px;background: #363942;padding: 7px 20px 13px 20px;}
.map_top .map_top_nav li{float: left;width:112px;height: 40px;line-height: 40px;color: #fefefe;font-size: 16px;background: #535663;text-align: center;border-radius: 3px;margin-right: 6px;cursor: pointer;}
.map_top .map_top_nav li.nav_action{background: #ee5752}
.map_main{padding: 16px 21px 0 20px;background: #32343d;}
/*.map-scan{position: relative;}*/
.sidebar2{width:230px !important;height:265px;background:#3f414b;padding:15px 13px 0 17px;display: inline-block;position: absolute;top: 150px;left: 15px;}
.content-view-map{width: 100%;padding-left: 250px; padding-right:15px;box-sizing: border-box;}
.content.map #map{width: 100%;}
.sidebar2 .left_nav li{height:29px;border-top:1px solid #292b32; cursor: pointer;}
.sidebar2 .left_nav li:first-child{border-top-width: 0;}
.sidebar2 .left_nav li a{display:inline-block;width: 100%;height: 100%;color:#fefefe;font-size:14px;padding-left: 8px;line-height:29px;}
.left_nav li.active{background:#262830;}
.sidebar2 select{ width: 198px;height:24px;line-height:20px;margin-top:5px;border: 1px solid #9ea0a5;  outline: none;  appearance:none;  -moz-appearance:none;  -webkit-appearance:none;  -ms-appearance:none;  background: url(map-se1.png) no-repeat scroll right center transparent;padding-left: 8px;color: #fefefe;font-size: 14px;}
.sidebar2 select option{background: #464952;}
.right_contain{height:1086px;}
.map_main_left input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: #6a6e7f;}
.map_main_left input:-moz-placeholder, textarea:-moz-placeholder { color: #6a6e7f; }
.map_main_left input::-moz-placeholder, textarea::-moz-placeholder { color: #6a6e7f; }
.map_main_left input:-ms-input-placeholder, textarea:-ms-input-placeholder { color: #6a6e7f; }


.ml_201{margin-left: 201px;}
.ml_16{margin-left: 16px;}
.pl_20{padding-left: 20px;}
.enlarge{width:235px;height: 100%;padding-right: 20px;padding-top: 10px;box-sizing: border-box;}
.enlarge span{color:#bdbdbd;font-size:16px;margin-right: 24px;position: relative;top: -3px;}
.enlarge img{opacity:0.6;}
.narrow{position: fixed;top: 16px;right:22px;z-index: 9999;width: 233px;height: 56px;background-color: rgba(0,0,0,0.5);padding-top: 18px;padding-left: 18px;color:#fff;font-size:16px;display:none;}
.narrow span{margin-right: 20px;}
#narrow{width: 20px;height: 20px;position: relative;top: 3px;}
#narrow img{width: 20px;}
.bubblesSearch input{ border:1px solid #7F8287; color:#6a6e7f; width:197px; height:23px;margin-top:11px;}
.bubSearchImg{ position: relative; top: -20px; left: 5px; width: 15px;}
.bubSearchResult{ width: 230px; position: absolute; background: #3f414b; left:0px;color:#6a6e7f; font-size:14px; padding:0 27px;}
.bubSearchResult li{ line-height: 28px; border-bottom: 1px solid #262931;}
.bubSearchResult li span:first-child{ margin-right: 10px;}
.map_bt_max{position: absolute;bottom: 10px;z-index: 0;width: 100%;height: 40px;overflow: hidden}
.map_bt_min{margin-bottom: 47px; margin-top: 15px;}
.zn_tip{font-size: 14px;color:#fff;height: 21px;float: right;max-width: 976px;}
.zn_tip_min{float: left;position: relative;top: 5px;}
.zn_tip_max{position: absolute;left:0;top:0;width: 1000px;height: 40px;background-color: rgba(0,0,0,0.5);padding-left: 10px;margin-left: 11px;}
.map_scale {
    color: #fff;
    display: inline-block;
    font-size: 11px;
    font-weight: 400;
    text-shadow: 0 1px 0 rgba(0,0,0,.25);
}
.map_scale_min{float: right;}
.map_scale_max{position: absolute;right:0;bottom:0;background-color: rgba(0,0,0,0.5);padding-top:8px;padding-left:8px;padding-right: 10px;padding-bottom: 8px;}
.map_scale div {
    cursor: default;
    display: inline-block;
    float: left;
    text-align: center;
    margin-left: 4px;
}
.map_scale .step{width:60px;height: 25px;line-height: 26px;}
#mask{width: 100%;height: 100%;position: relative;background-color: rgba(0,0,0,0.3);}
#mask>div{position: absolute;top:50%;left: 50%;-webkit-transform: translate(-50%,-50%);-moz-transform: translate(-50%,-50%); transform: translate(-50%,-50%);color:#fff;}
#enlage,#narrow{cursor: pointer;}
.legend-switch{margin-right: 5px;float: left;width: 16px;margin-top: 4px;cursor: pointer;display: none;}
.welcome_btn  .showTab{width:25px !important;}